<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="display: flex;">
        AJUDE
        <img src="../../../../assets/images/logo.svg" alt="Logo">
    </span>
    <span class="spacer"></span>
    <div class="profile">
        <select matNativeControl name="car">
            <option value="cras" selected>CRAS-ADMIN</option>
            <option value="creas">CREAS-ADMIN</option>
        </select>
    </div>
    <button mat-fab extended class="profile-button">
        <mat-icon>account_circle</mat-icon>
        Maria
    </button>
</mat-toolbar>

<div class="tab-menu">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Beneficiário">
        </mat-tab>
        <mat-tab label="Órgão">
        </mat-tab>
        <mat-tab label="Usuário">
        </mat-tab>
    </mat-tab-group>
</div>