<mat-toolbar>
    <a (click)="navigateToBeneficiariosList()" class="unstyled-link">
        <span>
            AJUDE
            <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
        </span>
    </a>
    <span class="spacer"></span>
    <div class="profile">
        <select matNativeControl name="car">
            <option value="cras" selected>CRAS-ADMIN</option>
            <option value="creas">CREAS-ADMIN</option>
        </select>
    </div>
    <button mat-fab extended class="profile-button">
        <mat-icon>account_circle</mat-icon>
        Maria
    </button>
</mat-toolbar>
<div class="container">
    <div class="tab-menu">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
                #rla="routerLinkActive" [active]="link.isActive">
                {{link.label}}
            </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
    <div class="container-body">
        <router-outlet></router-outlet>
    </div>
    <div>