<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <a (click)="navigateToBeneficiariosList()" class="unstyled-link">
        <span>
            AJUDE
            <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
        </span>
    </a>
    <span class="spacer"></span>
    <div class="profile">
        <select matNativeControl name="car">
            <option value="cras" selected>CRAS-ADMIN</option>
            <option value="creas">CREAS-ADMIN</option>
        </select>
    </div>
    <button mat-fab extended class="profile-button">
        <mat-icon>account_circle</mat-icon>
        Maria
    </button>
</mat-toolbar>