.card {
  width: auto;
  margin-top: 15px;
  border: 1px solid #2d8bba;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

mat-card {
  width: auto;
  margin: 2rem auto;
  padding: 2rem;
  justify-content: flex-end;
}

.info {
  background-color: rgba(206, 206, 206, 0.34);
  width: 95%;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button[mat-raised-button] {
  width: 200px;
  font-size: 12px;
  background-color: var(--default-blue);
  color: white;
  box-shadow: none;
}

.container-info p {
  font-size: 12px;
  margin: 1px;
}

.container-info p:first-child {
  font-weight: bold;
}

.botao-movimentar {
  width: 97%;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px;
  box-sizing: border-box;
}

.mat-mdc-icon-button.mat-primary {
  --mdc-icon-button-icon-color: var(--default-blue);
  --mat-mdc-button-persistent-ripple-color: #3f51b5;
  --mat-mdc-button-ripple-color: rgba(63, 81, 181, 0.1);
}

#descricao {
  text-align: justify;
  max-width: 98%;
}