
mat-card {
    min-width: 1250px;
    margin: 2rem auto;
    margin-bottom: 3rem;
    --mdc-elevated-card-container-color: var(--default-background-color);
    --mdc-outlined-card-container-color: var(--default-background-color);
}

mat-toolbar {
    background-color: white;
    padding-left: 5px;
    padding-top: 0.2rem;
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.toolbar-title {
    flex: 1;
    text-align: start;
    font-size: 28px;
    padding-top: 3px;
}

.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

.sub-form {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-perfil-orgao {
    width: 40%;
}

.input-2-equals-parts {
    width: 49%;
}

.mdc-card__actions {
    justify-content: flex-end;
    gap: 15px
}

button[mat-raised-button] {
    width: 120px;
    font-size: 12px;
}

#add-perfil-button,
#remove-perfil-button {
    width: 200px;
}
