<mat-card class="no-shadow">
    <mat-toolbar>
        <div class="flex-container">
            <span class="toolbar-title">{{ formGroup.get('id')?.value ?
                (modoVisualizacao ? 'Visualizar Usuário' : 'Editar Usuário') : 'Cadastrar Usuário' }}</span>
        </div>
    </mat-toolbar>
    <div class="form-container">
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" [attr.readonly]="isModoVisualizacao()" />
                    <mat-error *ngIf="formGroup.get('nome') &&
                            formGroup.get('nome')?.invalid &&
                            formGroup.get('nome')?.touched">
                        O campo Nome é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" />
                    <mat-error *ngIf="formGroup.get('cpf') &&
                            formGroup.get('cpf')?.invalid &&
                            formGroup.get('cpf')?.touched">
                        O campo CPF é obrigatório.
                    </mat-error>
                </mat-form-field>

                <div class="sub-form">
                    <mat-form-field appearance="outline" class="input-2-equals-parts">
                        <mat-label>E-mail para Login</mat-label>
                        <input matInput type="text" formControlName="login" />
                        <mat-error *ngIf="formGroup.get('login') &&
                                formGroup.get('login')?.invalid &&
                                formGroup.get('login')?.touched">
                            O campo E-mail é obrigatório.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-2-equals-parts">
                        <mat-label>{{ formGroup.get('id')?.value ?
                            (modoVisualizacao ? 'Senha - Visualização indisponível' : 'Nova Senha') : 'Senha'
                            }}</mat-label>
                        <input matInput type="text" formControlName="senha" />
                        <mat-error *ngIf="formGroup.get('senha') &&
                                formGroup.get('senha')?.invalid &&
                                formGroup.get('senha')?.touched">
                            O campo Senha é obrigatório.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div formArrayName="lotacoes">
                    <div *ngFor="let lotacao  of lotacoes.controls; let i = index" [formGroupName]="i">
                        <div class="sub-form">

                            <mat-form-field appearance="outline" class="input-perfil-orgao">
                                <mat-label>Perfil</mat-label>
                                <mat-select formControlName="perfil">
                                    <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">
                                        {{ perfil.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="lotacao.get('perfil')?.invalid && lotacao.get('perfil')?.touched">
                                    O campo Perfil é obrigatório.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="input-perfil-orgao">
                                <mat-label>Órgão</mat-label>
                                <mat-select formControlName="orgao">
                                    <mat-option *ngFor="let orgao of orgaos" [value]="orgao.id">
                                        {{ orgao.sigla }} - {{ orgao.nome }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="lotacao.get('orgao')?.invalid && lotacao.get('orgao')?.touched">
                                    O campo órgão é obrigatório.
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button id="remove-perfil-button" [disabled]="modoVisualizacao"
                                (click)="removerPerfil(i)">Remover
                                Perfil</button>
                        </div>
                    </div>
                </div>

                <div class="sub-form">
                    <button mat-raised-button id="add-perfil-button" [disabled]="modoVisualizacao"
                        (click)="adicionarPerfil()">Adicionar
                        Perfil</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="color: var(--default-blue);" routerLink="/usuarios/list">
                CANCELAR
            </button>
            <button mat-raised-button *ngIf="!modoVisualizacao; else editarButton" (click)="salvar()"
                [disabled]="formGroup.invalid" style="background-color: var(--default-blue); color: white;">
                SALVAR
            </button>

            <ng-template #editarButton>
                <button mat-raised-button routerLink="/usuarios/edit/{{idUsuarioVisualizacao}}"
                    [disabled]="formGroup.invalid" style="background-color: var(--default-blue); color: white;">
                    EDITAR
                </button>
            </ng-template>
        </mat-card-actions>
    </div>

</mat-card>