<mat-card class="no-shadow">
  <mat-card class="no-shadow info">
    <div class="container-info">
      <div class="card-info">
        <p>{{ 'Nº ' + atendimento.id + ' - ' + atendimento.tipoBeneficio }}</p>
        <p>Data do Cadastro: {{ atendimento.dataInclusao | date:'dd/MM/yyyy' }}</p>
        <p>Situação: {{ atendimento.situacao ? 'Ativo' : 'Inativo' }}</p>
      </div>
      <div class="card-info">
        <p>Órgão Atual:</p>
        <p>{{ atendimento.orgaoAtual.sigla }} - {{ atendimento.orgaoAtual.nome }}</p>
      </div>
      <div class="card-info">
        <p>Usuário Responsável:</p>
        <p>{{ atendimento.usuarioInclusao.nome }}</p>
      </div>
      <button mat-raised-button class="back-button" routerLink="/atendimentos/list">
        VOLTAR
      </button>
    </div>
  </mat-card>

  <div class="descricao">
    <h4><b>Motivo do Atendimento</b></h4>
    <p id="text-descricao">{{ atendimento.descricao }}</p>
  </div>

  <mat-tab-group>
    <mat-tab label="Encaminhamentos">
      <div *ngIf="isCadastroEncaminhamento">
        <app-encaminhamento-form></app-encaminhamento-form>
      </div>
      <div *ngIf="!isCadastroEncaminhamento">
        <app-encaminhamento-list></app-encaminhamento-list>
      </div>
    </mat-tab>
    <mat-tab label="Movimentações">
      <div *ngIf="isCadastroMovimentacao">
        <app-movimentacao-form></app-movimentacao-form>
      </div>
      <div *ngIf="!isCadastroMovimentacao">
        <app-movimentacao-list></app-movimentacao-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>