.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mat-dialog-title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding-top: 10%;
}

.content {
    width: 300px;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.title {
    font-size: x-large;
    font-weight: 500;
}

p {
    font-size: revert;
    text-align: center;
}

.footer {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[mat-button] {
    width: 120px;
    height: 30px;
    margin: 5px;
}

button[mat--button]:not(:last-child) {
    margin-right: 1rem;
}