<div class="card">
  <mat-card-content>
    <form [formGroup]="formGroup">

      <div class="sub-form">
        <mat-form-field appearance="outline" class="formInput">
          <mat-label class="tituloInput">Título</mat-label>
          <input matInput formControlName="tituloMovimentacao">
        </mat-form-field>
      </div>
      <div class="sub-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Descrição</mat-label>
          <textarea matInput rows="5" formControlName="descricao"></textarea>
        </mat-form-field>
      </div>
      <div class="sub-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Documento</mat-label>
          <input type="file" (change)="carregarDocumentoSelecionado($event)" hidden #fileInput>
          <input matInput [placeholder]="fileName ? fileName : 'Selecione um documento...'" [value]="fileName" readonly>
      
          <button mat-icon-button matSuffix (click)="fileInput.click()">
            <mat-icon>folder_open</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <div class="sub-form actions">
      <button mat-raised-button style="color: var(--default-blue);" (click)="isCadastro()">
        CANCELAR
      </button>
      <button mat-raised-button color="primary" (click)="save()" style="background-color: var(--default-blue);">
        SALVAR
      </button>
    </div>
  </mat-card-content>
</div>