<mat-card class="no-shadow">
  <mat-toolbar>
    <div class="flex-container">
      <span class="toolbar-title"> Órgãos </span>
    </div>
    <button mat-flat-button id="new" class="no-shadow" routerLink="/orgaos/new">CADASTRAR ÓRGÃOS</button>
  </mat-toolbar>

  <div class="body-container">
    <div class="filter-container">
      <form>
        <div class="input-with-button">
          <mat-form-field class="example-form-field" appearance="outline">
            <input matInput placeholder="Digite aqui" class="flexible-input" [(ngModel)]="filtro" name="filtro" #input>
          </mat-form-field>
          <button mat-icon-button aria-label="Pesquisar" id="search-button" (click)="aplicarFiltro()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>

      <button mat-flat-button class="clean-button" (click)="limparFiltro()">
        LIMPAR
      </button>
    </div>

    <div style="padding: 5px;">
      <div class="table-container no-shadow rounded-corners">
        <table mat-table [dataSource]="orgaos" matSort>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let orgao"> {{orgao.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef> Sigla </th>
            <td mat-cell *matCellDef="let orgao"> {{orgao.sigla}} </td>
          </ng-container>

          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef> Municipio </th>
            <td mat-cell *matCellDef="let orgao"> {{orgao.municipio.descricao}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let orgao"> {{orgao.municipio.estado.descricao}} </td>
          </ng-container>
          <ng-container matColumnDef="ativo">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let orgao">
              {{ orgao.ativo ? 'Ativo' : 'Inativo' }} </td>
          </ng-container>
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let orgao">
              <div class="edit-button-container">
                <button mat-icon-button aria-label="Editar orgao" class="no-shadow"
                  routerLink="/orgaos/edit/{{orgao.id}}">
                  <mat-icon>edit</mat-icon>
                </button>
                <mat-slide-toggle color="primary" [(ngModel)]="orgao.ativo"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> Não existem registros com o valor "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="pageSize" [length]="totalRegistros"
          (page)="paginar($event)" showFirstLastButtons aria-label="Selecione a página de órgãos">
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-card>