<mat-card class="principal no-shadow">
  <mat-card class="no-shadow info">
    <div class="container-info">
      <div class="card-info">
        <div class="info-data">
          <h5>NOME</h5>
          <h2>{{ beneficiario.nome || '-' }}</h2>
        </div>
        <div class="card-back-button">
          <button mat-raised-button class="back-button" routerLink="/beneficiarios/list">
            VOLTAR
          </button>
        </div>
      </div>
      <div class="card-info">
        <div class="info-data">
          <h5>CPF</h5>
          <h5>{{beneficiario.cpf || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>RG</h5>
          <h5>{{beneficiario.rg || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>DATA DE NASCIMENTO</h5>
          <h5>{{beneficiario.dataNascimento | date:'dd/MM/yyyy' || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>CPF DOS PAIS</h5>
          <h5>{{beneficiario.cpfDosPais || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>NIS</h5>
          <h5>{{beneficiario.nis || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>TELEFONE</h5>
          <h5>{{beneficiario.telefone || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>E-MAIL</h5>
          <h5>{{beneficiario.email || '-'}}</h5>
        </div>
      </div>
      <div class="card-info">
        <div class="info-data">
          <h5>CEP</h5>
          <h5>{{beneficiario.endereco.cep || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>ESTADO</h5>
          <h5>{{beneficiario.endereco.estado.descricao || '-' }}</h5>
        </div>

        <div class="info-data">
          <h5>CIDADE</h5>
          <h5>{{beneficiario.endereco.municipio.descricao || '-' }}</h5>
        </div>

        <div class="info-data">
          <h5>BAIRRO</h5>
          <h5>{{beneficiario.endereco.bairro || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>LOGRADOURO</h5>
          <h5>{{beneficiario.endereco.logradouro || '-'}}</h5>
        </div>

        <div class="info-data">
          <h5>NÚMERO</h5>
          <h5>{{beneficiario.endereco.numero || '-' }}</h5>
        </div>

        <div class="info-data">
          <h5>COMPLEMENTO</h5>
          <h5>{{beneficiario.endereco.complemento || '-' }}</h5>
        </div>
      </div>
    </div>
  </mat-card>

  <button mat-stroked-button routerLink="/atendimentos/new" class="buttonNew" style="color:#FFFFFF ;">
    Cadastrar Atendimento
  </button>

  <h1>Atendimentos</h1>

  <div class="listAtendimentos">
    <mat-card *ngFor="let atendimento of atendimentos" class="info-card">
      <mat-card-content>
        <mat-card-title>{{ 'Nº ' + atendimento.id + ' - ' + atendimento.tipoBeneficio }}</mat-card-title>
        <mat-card-subtitle>{{ atendimento.orgao.sigla }} - {{ atendimento.orgao.nome }}</mat-card-subtitle>
        <p>Data do Cadastro : {{ atendimento.dataInclusao | date:'dd/MM/yyyy' }}</p>
        <p>Situação : {{ atendimento.situacao }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="primary" (click)="openDialog(atendimento)" aria-label="Baixar encaminhamento">
          <mat-icon>print</mat-icon>
        </button>

        <button mat-button class="view-button" style="color: #2d8bba;"
          routerLink="/atendimentos/show/{{atendimento.id}}">Visualizar</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="size" [length]="totalRegistros"
    (page)="handlePage($event)" showFirstLastButtons aria-label="Selecione a página">
  </mat-paginator>
</mat-card>