<mat-card class="principal no-shadow">
  <mat-card class="secundario info">
    <div class="container-info">
      <div class="card-info">
        <div class="info-data">
          <p>Nome</p>
          <h2> {{ beneficiario.nome}}</h2>
        </div>
        <div class="info-data">
          <p>CPF</p>
          <p>{{beneficiario.cpf}}</p>
        </div>
        <div class="info-data">
          <p>RG:</p>
          <p>{{beneficiario.rg}}</p>
        </div>
        <div class="info-data">
          <p>Data de Nascimento</p>
          <p>{{ beneficiario.dataNascimento | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="info-data">
          <p>NIS</p>
          <p>{{beneficiario.nis}}</p>
        </div>
        <div class="info-data">
          <p>Telefone</p>
          <p>{{ formatarTelefone(beneficiario.telefone) }}</p>
        </div>
        <div class="info-data">
          <p>E-mail</p>
          <p>{{ beneficiario.email }}</p>
        </div>
      </div>
      <div>
        <button mat-raised-button class="back-button" routerLink="/beneficiarios/view/1">
          VOLTAR
        </button>
      </div>
    </div>
  </mat-card>

  <button mat-stroked-button routerLink="/atendimentos/new" class="buttonNew" style="color:#FFFFFF ;">
    Cadastrar Atendimento
  </button>

  <h1>Atendimentos</h1>

  <div class="listAtendimentos">
    <mat-card *ngFor="let atendimento of atendimentos | slice: (page * size): ((page + 1) * size)" class="info-card">
      <mat-card-content>
        <mat-card-title>{{ 'Nº ' + atendimento.id + ' - ' + atendimento.tipoBeneficio }}</mat-card-title>
        <mat-card-subtitle>{{ atendimento?.orgaoAtual?.sigla }}</mat-card-subtitle>
        <p>Data do Cadastro : {{ atendimento.dataInclusao | date:'dd/MM/yyyy' }}</p>
        <p>Situação : {{ atendimento.situacao ? 'Ativo' : 'Inativo' }}</p>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-icon-button color="primary" (click)="openDialog(atendimento)" aria-label="Baixar encaminhamento">
          <mat-icon>print</mat-icon>
        </button>

        <button mat-button class="view-button" style="color: #2d8bba;"
          routerLink="/atendimentos/show/{{atendimento.id}}">Visualizar</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="size" (page)="handlePage($event)"
    [length]="atendimentos.length" showFirstLastButtons aria-label="Selecione a página"
    style="border-top: 1px solid rgb(224, 223, 223);">
  </mat-paginator>
</mat-card>