.principal {
  min-width: 1250px;
  max-height: 100%;
  margin: 2rem auto;
  margin-bottom: 3rem;
  padding: 2rem;
  justify-content: flex-end;
  border-radius: 0;
  --mdc-elevated-card-container-color: var(--default-background-color);
  --mdc-outlined-card-container-color: var(--default-background-color);
}

mat-card {
  min-width: 1250px;
  --mdc-elevated-card-container-color: var(--default-background-color);
  --mdc-outlined-card-container-color: var(--default-background-color);
}

.container-info {
  padding: 1rem;
}

.info {
  background-color: rgba(206, 206, 206, 0.34);
  width: 100%;
  margin: 2rem auto;
  margin-bottom: 3rem;
  box-shadow: none;
  border-radius: 0;
}

button[mat-raised-button] {
  width: 120px;
  font-size: 12px;
  background-color: inherit;
  color: var(--default-blue);
  margin: 5px 5px 0 0;
  box-shadow: none;
}

.card-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  gap: 10px;
}

.card-info>.info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  min-width: 126px;
}

.card-info>.info-data>h5 {
  margin: 0;
  font-weight: 500;
}

.principal {
  height: auto;
}

.listAtendimentos {
  height: auto;
  border: 1px solid #2d8bba;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.buttonNew {
  width: 25%;
  margin-top: 15px;
  margin-left: 75%;
  background-color: #2d8bba;
  color: "#FFFFFF";
}

.info-card {
  width: 100%;
  height: 175px;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.view-button {
  margin-left: auto;
  font-size: medium;
  margin-bottom: 25px;
  color: #2d8bba;
}

.mat-mdc-icon-button.mat-primary {
  --mdc-icon-button-icon-color: var(--default-blue);
  --mat-mdc-button-persistent-ripple-color: #3f51b5;
  --mat-mdc-button-ripple-color: rgba(63, 81, 181, 0.1);
}

mat-card-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}