<div class="login-container">
    <div class="login-box">
        <span>
            AJUDE
            <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
        </span>
        <h2 class="login-title">Recuperar Senha</h2>
        <div class="texto">
            <p>Um e-mail foi enviado para a**@gmail.com</p>
            <p>com a nova senha de acesso</p>
        </div>
            <button mat-raised-button class="voltar-button" color="primary" [routerLink]="['/login/entrar']">VOLTAR</button>
    </div>
</div>
