<div class="login-container">
    <div class="login-box">
        <div class="box-header">
            <div id="logo">
                <span>AJUDE</span>
                <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
            </div>
            <h2 class="login-title">Recuperar Senha</h2>
        </div>
        <div class="texto">
            <p>Um e-mail foi enviado para a**gmail.com</p>
            <p>com a nova senha de acesso</p>
        </div>
            <button mat-raised-button class="voltar-button" color="primary" [routerLink]="['/login']">VOLTAR</button>
    </div>
</div>
