<div class="document-container">
    <div class="container-header">
        <button mat-icon-button aria-label="Fechar" class="close-button" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="pdf-document" id="content" #content>
        <header>
            <img class="logo" src="../../../../assets/images/logo_municipio_palmas.png" alt="Logo do sistema">
        </header>

        <main>
            <div class="main-header">
                <h4>Atendimento
                    <br>{{data.atendimento.tipoBeneficio}}
                </h4>
            </div>

            <div class="main-body">
                <section class="texto">
                    <p>{{data.atendimento.descricao}}</p>
                </section>
                <section class="info-pessoal">
                    <table>
                        <tr>
                            <td>
                                <p class="texto title">Informações do Beneficiário</p>
                                <p class="texto">Endereço: {{ data.atendimento.beneficiario.endereco.logradouro }},
                                    Bairro: {{ data.atendimento.beneficiario.endereco.bairro }},
                                    Nº: {{ data.atendimento.beneficiario.endereco.numero }},
                                    {{ data.atendimento.beneficiario.endereco.municipio.descricao }} - {{
                                    data.atendimento.beneficiario.endereco.estado.sigla }}
                                    <br>
                                    Data de Nascimento: {{data.atendimento.beneficiario.dataNascimento | date:
                                    'dd/MM/yyyy'}}
                                    <br>
                                    CPF: {{ data.atendimento.beneficiario.cpf }}
                                    <br>
                                    RG: {{ data.atendimento.beneficiario.rg }}
                                    <br>
                                    Telefone: {{ formatarTelefone(data.atendimento.beneficiario.telefone) }}
                                </p>

                                <p class="texto title">Situação do Atendimento: {{ data.atendimento.situacao }}
                                <p>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </main>

        <footer>
            <p>{{data.atendimento.orgao.municipio.descricao}} -
                {{data.atendimento.orgao.municipio.estado.sigla}}
                <br>{{ this.dataAtual | date: 'dd/MM/yyyy'}}
            </p>
        </footer>
    </div>

    <div class="container-footer">
        <button mat-raised-button (click)="onConfirm()">Download</button>
    </div>

</div>