<mat-card class="no-shadow">
    <mat-toolbar>
        <div class="flex-container">
            <span class="toolbar-title"> Usuários </span>
        </div>
        <button mat-flat-button id="new" class="no-shadow" routerLink="/usuarios/new">Cadastrar
            Usuário</button>
    </mat-toolbar>

    <div class="body-container">
        <div class="filter-container">
            <form>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Digite o nome ou órgão do usuário</mat-label>
                    <input matInput placeholder="Digite aqui" />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>

            <button mat-flat-button class="clean-button">
                LIMPAR
            </button>
        </div>

        <div style="padding: 5px;">
            <div class="table-container no-shadow rounded-corners">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
                    </ng-container>

                    <ng-container matColumnDef="perfil">
                        <th mat-header-cell *matHeaderCellDef> Perfil </th>
                        <td mat-cell *matCellDef="let usuario">
                            <ng-container *ngFor="let item of usuario.perfisOrgao">
                                {{ item.perfil.label }} - {{ item.orgao.sigla }}
                                <br>
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> E-mail </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cpf">
                        <th mat-header-cell *matHeaderCellDef> Cpf </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.cpf}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef> Ações </th>
                        <td mat-cell *matCellDef="let usuario">
                            <div class="edit-button-container">
                                <button mat-icon-button aria-label="Visualizar usuario" class="no-shadow"
                                    routerLink="/usuarios/view/{{usuario.id}}"
                                    [queryParams]="{ modoVisualizacao: true }">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Editar usuario" class="no-shadow"
                                    routerLink="/usuarios/edit/{{usuario.id}}">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Selecione a página de usuários">
                </mat-paginator>
            </div>
        </div>
    </div>
</mat-card>