<div class="footer" fxLayout="row">
    <mat-toolbar class="part1">
        <button mat-icon-button aria-label="Botão que leva até a pagina principal"
            (click)="navigateToBeneficiariosList()" fxFlex="10%" fxFlex.gt-sm="5%">
            <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="part2">
        <span class="toolbar-title">© 2023 AJUDE - Sistema de Gerenciamento de Prontuários para a Assistência
            Social</span>
    </mat-toolbar>
</div>