<div class="card">
  <div class="botao-encaminhar">
    <button mat-raised-button (click)="isCadastro()">
      ENCAMINHAR
    </button>
  </div>

  <mat-card *ngFor="let encaminhamento of encaminhamentos | slice: (page * size): ((page + 1) * size)" class="no-shadow info">
    <div class="container-info">
      <p>{{ encaminhamento.orgaoOrigem.sigla}} - {{ encaminhamento.orgaoOrigem.nome }}
        ({{encaminhamento.orgaoOrigem.municipio.nome }} - {{encaminhamento.orgaoOrigem.estado.sigla}}) ->
        {{ encaminhamento.orgaoDestino.sigla}} - {{ encaminhamento.orgaoDestino.nome }}
        ({{encaminhamento.orgaoDestino.municipio.nome }} - {{encaminhamento.orgaoDestino.estado.sigla}})</p>
      <p>Motivo: {{encaminhamento.motivo}}</p>
      <p>Data: 21/10/2023</p>
    </div>

    <button mat-icon-button color="primary" (click)="openDialog(encaminhamento)" aria-label="Baixar encaminhamento">
      <mat-icon>print</mat-icon>
    </button>
  </mat-card>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="size" (page)="handlePage($event)"
    [length]="encaminhamentos.length" showFirstLastButtons aria-label="Selecione a página"
    style="border-top: 1px solid rgb(224, 223, 223);">
  </mat-paginator>

</div>