<mat-card class="no-shadow">
  <mat-toolbar>
      <div class="flex-container">
        <a class="unstyled-link">
          <span>
              AJUDE
              <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
          </span>
      </a>
          <span class="toolbar-title">Efetuar Login</span>
      </div>
  </mat-toolbar>

  <div class="form-container">
      <mat-card-content>
          <form [formGroup]="formGroup">
              <mat-form-field appearance="outline" class="full-width-input">
                  <mat-label>Login</mat-label>
                  <input matInput type="text" formControlName="Login" />
                  <mat-error *ngIf="formGroup.get('nome') &&
                          formGroup.get('nome')?.invalid &&
                          formGroup.get('nome')?.touched">
                          O campo Login é obrigatório.
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width-input">
                  <mat-label>Senha</mat-label>
                  <input matInput type="text" formControlName="senha" />
                  <mat-error *ngIf="formGroup.get('senha') &&
                          formGroup.get('senha')?.invalid &&
                          formGroup.get('senha')?.touched">
                          O campo Senha é obrigatório.
                  </mat-error>
              </mat-form-field>
          </form>
      </mat-card-content>