<div class="login-container">
    <div class="login-box">
        <span>
            AJUDE
            <img src="../../../../assets/images/logo.svg" alt="Logo do sistema">
        </span>
        <h2 class="login-title">Efetuar Login</h2>
        <form [formGroup]="loginForm">
            <mat-form-field class="login-input">
                <input matInput placeholder="Login" formControlName="email" required>
                <mat-error *ngIf="loginForm.get('email')!.hasError('required')">O email é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput type="password" placeholder="Senha" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password')!.hasError('required')">A senha é obrigatória</mat-error>
            </mat-form-field>
            <button mat-raised-button class="login-button" color="primary" type="submit">LOGIN</button>
            <p>Esqueceu a senha? <a [routerLink]="['/login/recuperar-senha']">Clique Aqui</a></p>
        </form>
    </div>
</div>
