<mat-card class="principal no-shadow">
  <mat-card class="secundario">
    <div class="container-info">
      <div class="card-info">
        <div class="info-data">
          <p>Nome</p>
          <h2> {{ beneficiario.nome}}</h2>
        </div>
        <div class="info-data">
          <p>CPF</p>
          <p>{{beneficiario.cpf}}</p>
        </div>
        <div class="info-data">
          <p>RG:</p>
          <p>{{beneficiario.rg}}</p>
        </div>
        <div class="info-data">
          <p>Data de Nascimento</p>
          <p>{{ beneficiario.dataNascimento | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="info-data">
          <p>NIS</p>
          <p>{{beneficiario.nis}}</p>
        </div>
        <div class="info-data">
          <p>Telefone</p>
          <p>{{ formatarTelefone(beneficiario.telefone) }}</p>
        </div>
        <div class="info-data">
          <p>E-mail</p>
          <p>{{ beneficiario.email }}</p>
        </div>
      </div>
      <div>
        <button mat-raised-button id="back-button" routerLink="/beneficiarios/view/1">
          VOLTAR
        </button>
      </div>
    </div>
  </mat-card>

  <h2 style="margin-left: 15px;">Cadastrar Atendimento </h2>
  <div class="formulario">

    <div class="sub-form">
      <mat-form-field appearance="outline" class="formInput">
        <mat-label class="tituloInput">Órgão</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="sub-form">
      <mat-form-field appearance="outline" class="input-2-equals-parts">
        <mat-label class="tituloInput">Usuario Responsável</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-2-equals-parts">
        <mat-label class="tituloInput">Data do Atendimento</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="sub-form">
      <mat-form-field appearance="outline" class="input-2-equals-parts">
        <mat-label class="tituloInput">Tipo de Benefício</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-2-equals-parts">
        <mat-label class="tituloInput">Situação do Atendimento</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="sub-form">
      <mat-form-field appearance="outline" class="textInput">
        <mat-label class="tituloInput">Descrição do Atendimento</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="sub-form actions">
      <button mat-raised-button style="color: #2d8bba;" routerLink="/atendimentos/list">
        Cancelar
      </button>
      <button mat-raised-button style="background-color: #2d8bba; color: white;" routerLink="/atendimentos/show">
        Salvar
      </button>
    </div>
  </div>
</mat-card>