form {
  height: 60%;
  width: auto;
  background-color: white;
  margin: 10px;
  border: 1px solid #2d8bba;
  justify-content: center;
  border-radius: 5px;
  padding: 3rem 3rem 5px 3rem;
  overflow: auto;
}

mat-card {
  --mdc-elevated-card-container-color: var(--default-background-color);
  --mdc-outlined-card-container-color: var(--default-background-color);
}

.container-info {
  padding: 1rem;
}

.info {
  background-color: rgba(206, 206, 206, 0.34);
  width: 100%;
  margin: 2rem auto;
  margin-bottom: 3rem;
  box-shadow: none;
  border-radius: 0;
}

button[mat-raised-button] {
  width: 120px;
  font-size: 12px;
}

.card-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  gap: 10px;
}

.card-info>.info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  min-width: 126px;
}

.card-info>.info-data>h5 {
  margin: 0;
  font-weight: 500;
}


.tituloInput {
  font-size: medium;
}

.formInput {
  width: 100%;
  height: max-content;
}

.otherInput {
  margin-top: 2rem;
  margin-left: 50px;
  width: 500px;
  height: max-content;
}

.textInput {
  width: 100%;
  height: 150px;
}

.principal {
  width: 1250px;
  margin: 2rem auto;
  margin-bottom: 3rem;
  min-height: 100%;
  padding: 2rem;
  justify-content: flex-end;
  border-radius: 0;
  --mdc-elevated-card-container-color: var(--default-background-color);
  --mdc-outlined-card-container-color: var(--default-background-color);
}

.secundario {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  justify-content: flex-end;
  background-color: #EBEBEB;

}

.input-2-equals-parts {
  width: 49%;
}

#back-button {
  width: 120px;
  font-size: 12px;
  background-color: inherit;
  color: cornflowerblue;
  margin: 5px 5px 0 0;
  box-shadow: none;
}

.sub-form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  justify-content: flex-end;
  gap: 1rem
}