<mat-card class="no-shadow">
    <mat-card class="no-shadow info">
        <div class="container-info">
            <div class="card-info">
                <div class="info-data">
                    <h5>NOME</h5>
                    <h2>{{ beneficiario?.nome || '-' }}</h2>
                </div>
                <div class="card-back-button">
                    <button mat-raised-button class="back-button" routerLink="/beneficiarios/list">
                        VOLTAR
                    </button>
                </div>
            </div>
            <div class="card-info">
                <div class="info-data">
                    <h5>CPF</h5>
                    <h5>{{beneficiario?.cpf || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>RG</h5>
                    <h5>{{beneficiario?.rg || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>DATA DE NASCIMENTO</h5>
                    <h5>{{beneficiario?.dataNascimento | date:'dd/MM/yyyy' || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>CPF DOS PAIS</h5>
                    <h5>{{beneficiario?.cpfDosPais || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>NIS</h5>
                    <h5>{{beneficiario?.nis || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>TELEFONE</h5>
                    <h5>{{beneficiario?.telefone || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>E-MAIL</h5>
                    <h5>{{beneficiario?.email || '-'}}</h5>
                </div>
            </div>
            <div class="card-info">
                <div class="info-data">
                    <h5>CEP</h5>
                    <h5>{{beneficiario?.cep || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>ESTADO</h5>
                    <h5>{{beneficiario?.estado?.descricao || '-' }}</h5>
                </div>

                <div class="info-data">
                    <h5>CIDADE</h5>
                    <h5>{{beneficiario?.municipio?.descricao || '-' }}</h5>
                </div>

                <div class="info-data">
                    <h5>BAIRRO</h5>
                    <h5>{{beneficiario?.bairro || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>LOGRADOURO</h5>
                    <h5>{{beneficiario?.logradouro || '-'}}</h5>
                </div>

                <div class="info-data">
                    <h5>NÚMERO</h5>
                    <h5>{{beneficiario?.numero || '-' }}</h5>
                </div>

                <div class="info-data">
                    <h5>COMPLEMENTO</h5>
                    <h5>{{beneficiario?.complemento || '-' }}</h5>
                </div>
            </div>


        </div>
    </mat-card>

    <div class="card-button">
        <button mat-flat-button id="atendimentos" class="no-shadow"
            routerLink="/atendimentos/list">ATENDIMENTOS</button>
    </div>
</mat-card>