table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --default-blue: #2D8BBA;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin; /* Para navegadores baseados em Firefox */
  scrollbar-color: transparent transparent; /* Para navegadores baseados em Firefox */
}

html::-webkit-scrollbar {
  width: 1px; /* Largura da barra de rolagem vertical */
}

html::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do polegar da barra de rolagem */
  border-radius: 4px; /* Raio das bordas do polegar da barra de rolagem */
}

html::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da pista da barra de rolagem */
}