table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FEFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --default-blue: #2D8BBA;
  --default-background-color: #FEFFFF;
}


.no-shadow {
  box-shadow: none !important;
}

.rounded-corners {
  border-radius: 4px;
}


html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar {
  width: 1px;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}