<mat-card class="no-shadow">
    <mat-toolbar>
        <div class="flex-container">
            <span class="toolbar-title">{{ formGroup.get('id')?.value ? 'Editar Órgão' : 'Cadastrar Órgão' }}</span>
        </div>
    </mat-toolbar>

    <div class="form-container">
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" />
                    <mat-error *ngIf="formGroup.get('nome') &&
                            formGroup.get('nome')?.invalid &&
                            formGroup.get('nome')?.touched">
                        O campo Nome é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Sigla</mat-label>
                    <input matInput type="text" formControlName="sigla" />
                    <mat-error *ngIf="formGroup.get('sigla') &&
                            formGroup.get('sigla')?.invalid &&
                            formGroup.get('sigla')?.touched">
                        O campo Sigla é obrigatório.
                    </mat-error>
                </mat-form-field>

                <div class="sub-form">
                    <mat-form-field appearance="outline" class="input-2-equals-parts">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let estado of estados" [value]="estado.id">
                                {{ estado.descricao }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('estado') &&
                            formGroup.get('estado')?.invalid &&
                            formGroup.get('estado')?.touched">
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-2-equals-parts">
                        <mat-label>Município</mat-label>
                        <mat-select formControlName="municipio">
                            <mat-option *ngFor="let municipio of municipios" [value]="municipio.id">
                                {{ municipio.descricao}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('municipio') &&
                            formGroup.get('municipio')?.invalid &&
                            formGroup.get('municipio')?.touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="color: var(--default-blue);" routerLink="/orgaos/list">
                CANCELAR
            </button>
            <button mat-raised-button (click)="salvar()" [disabled]="formGroup.invalid"
                style="background-color: var(--default-blue); color: white;">
                SALVAR
            </button>
        </mat-card-actions>
    </div>
</mat-card>